<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div >
<form role="form" method="post">
	<h2 > Get City Weather Details</h2>
	<label>City</label>
	<input type="text" id="cityname" name="cityname" placeholder="City" required autofocus><br>
	<hr><br>
	<label>Weather</label>
	<input type="text" id="weather" name="weather" class="form-control" placeholder="Weather" required autofocus disabled=""><br>
	<hr><br>
	<button type="button">Submit</button>
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../static/js/test.js"></script>
</body>
</html>